/*
****************************************
General things
****************************************
*/

/* generic class to center block of content */
.center-container {
    width: 95%;
    max-width: 1000px;
    left: 0px;
    right: 0px;
    margin: auto;
    position: relative;
}

/* element with small icon indicator in front */
.icon:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
    background-image: url('../imgs/filled-nav-icons.png');
    background-size: 2.25em;
    margin-bottom: 0.25em;
    margin-right: 0.5em;
    background-position-x: -.375em;
    background-position-y: -.375em;
    box-sizing: border-box;
}

.button {
    padding: 10px;
    background: #6b81f5;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    border-radius: 3px;
    border: 0px;
}

.button:hover {
    background: #546ff7;
}

.submit {
    background: #128020;
}

.submit:hover {
    background: #0b7018;
}

/*
****************************************
Page Setup
****************************************
*/

#body-wrapper {
    min-height: 100%;

    /* height of footer */
    margin-bottom: -205px;
}

#body-wrapper:after {
    content: "";
    display: block;
    height: 205px;
}

#body-container {
    padding-top: 15px;
}

/*
---------------------------------------
Header bar at top of page
---------------------------------------
*/

header {
    height: 70px;
    line-height: 70px;
    position: relative;
    background: #ffffff;
}

header #main-logo {
    height: 50px;
    vertical-align: middle;
}

header .nav-bar {
    display: block;
    list-style: none;
    margin: 0px;
    padding: 0px;
    float: right;
}

header .nav-bar.left {
    float: left;
    display: none;
}

header .nav-bar li {
    text-align: center;
    cursor: pointer;
}

header .nav-bar li:hover {
    text-decoration: underline;
}

/*
Specific links in navigation bar
*/

header .nav-bar #signin-link:before {
    background-position-y: -4.875em;
}

header .nav-bar #menu-link:before {
    background-size: 36px;
    background-position: -6px -42px;
}

/*
---------------------------------------
Main navigation bar under header
---------------------------------------
*/

#header-nav {
    background: #37404e;
}

#header-nav .nav-bar {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#header-nav .nav-bar:after {
    content: "";
    display: block;
    clear: both;
}

#header-nav .nav-bar li {
    float: left;
    line-height: 50px;
    color: #ffffff;
}

#header-nav .nav-bar li a {
    padding: 0px 15px;
    cursor: pointer;
}

#header-nav .nav-bar li:hover {
    background: #606a77;
}

/*
---------------------------------------
Footer at bottom
---------------------------------------
*/

footer {
    margin-top: 25px;
    height: 180px;
    background: #ededed;
}

footer .wrapper {
    height: 128px;
}

footer .row {
    clear: both;
    height: 54px;
    line-height: 54px;
    position: relative;
    margin-bottom: 16px;
}

footer .row .left {
    float: left;
}

footer .row .right {
    float: right;
}

footer #footer-logo {
    height: 35px;
    vertical-align: middle;
}

footer #footer-copyright {
    color: #666666;
    font-size: 0.8em;
    margin-left: 15px;
}

footer #footer-disclosures {
    color: #666666;
    font-size: 0.8em;
    margin-top: 10px;
}

/*
Footer navigation bar
*/

footer .nav-bar {
    list-style: none;
    padding: 0px;
    margin: 0px;
    color: #444444;
}

footer .nav-bar li {
    float: left;
    font-size: 0.75em;
    padding-right: 10px;
}

footer .nav-bar li a {
    cursor: pointer;
}

footer .nav-bar li.footersubs {
    text-transform: uppercase;
    font-weight: 700;
    color: #333333;
}

footer .nav-bar li.footersubs a:before {
    content: "";
    display: inline-block;
    width: 0px;
    height: 0px;
    margin-bottom: 1px;
    border: 4px solid transparent;
    border-left: 4px solid #333333;
}

footer .nav-bar li.nosubs:before {
    content: "";
    display: inline-block;
    height: 15px;
    border-left: 1px solid #444444; 
    vertical-align: middle;
    margin-bottom: 3px;
    margin-right: 10px;
}

/*
Footer image media
*/

footer .sprites .sprite {
    cursor: pointer;
    display: block;
    vertical-align: middle;
    background-image: url('../imgs/socialicons.png');
    background-repeat: no-repeat;
    background-position-x: -25px;
    background-size: 76px 200px;
}

footer #social-media .sprite {
    float: left;
    margin-top: 15px;
    margin-right: 7px;
    width: 24px;
    height: 24px;
}

#social-media .twitter   { background-position-y: -2.50px; }
#social-media .facebook  { background-position-y: -30.0px; }
#social-media .youtube   { background-position-y: -57.5px; }
#social-media .linkedin  { background-position-y: -85.0px; }
#social-media .instagram { background-position-y: -112.5px; }

/*
Footer disclosures
*/

footer #footer-disclosures #memberfdic {
    width: 73px;
    height: 11px;
    background-position: -5px -350px;
    background-size: initial;
    float: right;
}

footer #footer-disclosures #equalhousinglender {
    clear: both;
    float: right;
}

footer #footer-disclosures #equalhousinglender .sprite {
    width: 25px;
    height: 25px;
    background-position: right -375px;
    background-size: initial;
    display: inline-block;
    cursor: initial;
}

@media only screen and (max-width: 750px) {

    #body-container {
        padding-top: 85px;   
    }

    header {
        position: fixed;
        top: 0px;
        width: 100%;
        text-align: center;
        z-index: 1000;
        border-bottom: 1px solid #dcd8db;
    }

    header #main-logo {
        height: 38px;
    }

    header .nav-bar {
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        margin: auto;
        height: 42px;
    }

    header .nav-bar.left {
        display: block;
        left: 0px;
        right: initial;
    }

    header .nav-bar.left li {
        text-decoration: initial !important;
    }

    #header-nav {
        display: none;
        position: fixed;
        left: 0px;
        right: 0px;
        top: 70px;
        bottom: 0px;
        z-index: 1000;
        background: #e2e2e2;
    }

    #showMenuToggle:checked + #header-nav {
        display: block;
    }

    #header-nav .nav-bar li {
        display: block;
        color: #303030;
        float: none;
    }

    #header-nav .nav-bar li a {
        line-height: 80px;
        height: 80px;
        display: block;
        padding: 0px;
    }

    #header-nav .nav-bar li:hover {
        background: transparent;
    }

    header .nav-bar li {
        display: none;
        font-size: 0.8em;
    }

    header .nav-bar li.mobile-visible {
        display: block;
        line-height: initial;
    }

    header .nav-bar .icon {
        line-height: initial;
    }

    header .nav-bar .icon:before {
        left: 0px;
        right: 0px;
        margin: auto;
        display: block;
        font-size: 1.3em;
    }

    #body-wrapper {
        margin-bottom: -575px;
    }

    #body-wrapper:after {
        height: 575px;
    }

    footer {
        height: 550px;
    }

    footer #footer-nav-row {
        padding-top: 15px;
        height: initial;
    }

    footer #footer-nav-row .left,
    footer #footer-nav-row .right {
        float: none;
    }

    footer #footer-nav-row .right {
        margin-top: 5px;
    }

    footer .nav-bar li {
        float: none;
        line-height: 40px;
        font-size: 1em;
        border-bottom: 1px solid #bbbbbb;
    }

    footer .nav-bar li.nosubs:before {
        display: none;
    }

    footer #footer-company-row {
        height: initial;
        padding-top: 15px;
    }

    footer #footer-copyright {
        display: block;
        margin-left: 0px;
        line-height: initial;
    }

}
