.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid-item {
    padding: 20px;
}

.grid-item h1 {
    text-align: center;
    font-size: 26px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
}

.charities-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 500px;
    overflow-y: scroll;
}

.charities-list li {
    display: block;
    width: 100%;
    padding: 10px 0px;
    border-bottom: 1px solid rgba(0,0,0,.3);
    border-top: 1px solid rgba(255,255,255,.2);
    box-sizing: border-box;
}

.map-container {
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}