.balance {
    background-color: #004977;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    padding: 5px;
}

.selected-charity {
    box-shadow: 0 0 5px rgba(208, 48, 39, 0.2);
    border: 1px solid rgba(208, 48, 39, 0.2);
}

.title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leaderboard {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#first-charity-container {
    width: 100%;
    height: 550px;
    background-color: #004977;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-right: 0;
    padding-right: 0 !important;
}

.leader-information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.charity-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#rest-of-leaderboard {
    width: 100%;
    height: 400px;
    background-color:white;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.3);
    margin-left: 0;
    padding-left: 0 !important;
    overflow-y: scroll;
}

.image-cropped {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 5px;
}

.leaderboard-column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.actions {
    margin-top: 40px;
}

img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

h3, h4 {
    margin: 5px;
    color: white;
    text-align: center;
}

.list-group input:checked + label {
    background: blue;
}