{% extends "base_page.html" %} {% block head %} {{ super() }}
<link href="{{ url_for('static', filename='styles/accountoverview.css') }}" rel="stylesheet" type="text/css"> {{map.js}}
{% endblock %} {% block _body %}
<div class="">
    <div class="charity-banner">
        <h2 style="color: white; font-weight: normal">Try the new Capital One Charity Account</h2>
        <a href="/setup">Let's Go</a>
    </div>
    <div class="account-container">
        {% for account in accounts %}
        <div class="account-card">
            <div class="account-info">
                <h1 style="color: white">{{account}}</h1>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}