{% extends "base.html" %}

{% block head %}
{{ super() }}

<link href="{{ url_for('static', filename='styles/general.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block _body %}

<div id="body-wrapper">
    <header>
        <div class="center-container">
            <img
                alt="Capital One"
                src="{{ url_for('static', filename='imgs/Capital_One_logo.svg') }}"
                id="main-logo" 
            >

            <ul class="nav-bar">
                <li>
                    <a id="signin-link" class="icon">Sign In</a>
                </li>
            </ul>
        </div>
    </header>
</div>

<footer>
    <div class="center-container wrapper">
        <div id="footer-nav-row" class="row">
            <div class="left">
                <ul class="nav-bar">
                    <li class="footersubs">
                        <a>Products</a>
                    </li> 
                    <li class="footersubs">
                        <a>About Us</a>
                    </li> 
                    <li class="footersubs">
                        <a>Careers</a>
                    </li> 
                    <li class="footersubs">
                        <a>Legal</a>
                    </li> 

                    <li class="nosubs">
                        <a>Contact Us</a>
                    </li> 
                    <li>
                        <a>Privacy</a>
                    </li> 
                    <li>
                        <a>Security</a>
                    </li> 
                    <li>
                        <a>Terms & Conditions</a>
                    </li> 
                    <li>
                        <a>Accessbility</a>
                    </li> 
                </ul> 
            </div>
            <div id="social-media" class="sprites right">
                <a class="twitter sprite"></a>
                <a class="facebook sprite"></a>
                <a class="youtube sprite"></a>
                <a class="linkedin sprite"></a>
                <a class="instagram sprite"></a>
            </div>
        </div>
        <div id="footer-company-row" class="row">
            <div class="left">
                <img
                    alt="Capital One"
                    src="{{ url_for('static', filename='imgs/Capital_One_logo.svg') }}"
                    id="footer-logo"
                >
                <span id="footer-copyright">&copy;2018 Capital One</span>
            </div>
            <div class="right">
                <div id="footer-disclosures" class="sprites">
                    <div id="memberfdic" class="sprite"></div>
                    <div id="equalhousinglender">
                        Equal Housing Lender
                        <i class="sprite"></i> 
                    </div>
                </div> 
            </div>
        </div>
    </div>
</footer>

{% endblock %}