{% extends "base_page.html" %}

{% block head %}

{{ super() }}

<link href="{{ url_for('static', filename='styles/usercharities.css') }}" rel="stylesheet" type="text/css"> 
{{map.js}}

{% endblock %}

{% block _body %}
<div class="center-container">
    <div class="grid-container">
        <div class="grid-item">
            <div class="grid-subtitle">
                <h1>Charities Near You</h1>
            </div>
            <div class="map-container">
                {{map.html}}
            </div>
        </div>
        <div class="grid-item">
            <div class="grid-subtitle">
                <h1>Charities You Might Like</h1>
            </div>
            <ul class="charities-list">
                {% for charity in charities %}
                <li>
                    {{ charity }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}