export GOOGLE_API_KEY="[api key for maps AND places]"
export REDIS_URL="[redis database url]"
export NESSIE_KEY="[capital one nessie api key]"

export TWITTER_CONSUMER_KEY="YTjzYW8UDRUTNbStu2vSoOunv"
export TWITTER_CONSUMER_SECRET="3laraBw3oyMbqIt8RdAm281kKW4OpHukRSx90vXweFbM9ylvwN"
export TWITTER_ACCESS_TOKEN="1030182022176796672-xpry2rloo4AxJdYMNnjlkLYiboafPY"
export TWITTER_ACCESS_TOKEN_SECRET="293ToO4YQDYERqQgSiNZLPB756IvBPoTlrmMb4c7t1eaC"

export RECOMBEE_DB_NAME="team-2"
export RECOMBEE_SECRET_KEY="SFgtcueq51BZqYNKN8QMm9HuuWCN0lPOtUTZpwjg8uquAQ1ggzLtrEMaBceN9AD9"

export CHARITY_NAVIGATOR_APP="267c5c0d"
export CHARITY_NAVIGATOR_KEY="95a6143616abcad971c5966409b0cb52"
